body{
  padding: 0px!important;
  margin: 0px!important;
}

html {
  scroll-behavior: smooth;
}

.row{
  padding: 0px!important;
  margin: 0px!important;
}

.container-fluid{
    padding: 0px!important;
    margin: 0px!important;
}

.inline{
  display: inline-block!important;
}

.no-a{
  text-decoration: none!important;
  color: inherit;
}

.no-a:hover{
      color: inherit;
  }




.text-lightblack{
  color: #666!important;
}

.text-darkblack{
  color: #393737!important;
}


/* Font SIze */
.f-10{
  font-size: 10px!important;
}
.f-12{
  font-size: 12px!important;
}
.f-14{
  font-size: 14px!important;
}
.f-16{
  font-size: 16px!important;
}
.f-18{
  font-size: 18px!important;
}
.f-20{
  font-size: 20px!important;
}
.f-22{
  font-size: 22px!important;
}
.f-24{
  font-size: 24px!important;
}
.f-26{
  font-size: 26px!important;
}
.f-28{
  font-size: 28px!important;
}
.f-30{
  font-size: 30px!important;
}
.f-36{
  font-size: 36px!important;
}
.f-50{
  font-size: 50px!important;
}


.top-logo{
  width: 120px;
  height: 35px;
  margin-top: 5px;
}

.top-menu {
  list-style-type: none;
  padding-top: 10px;
}

.top-menu li{
  text-align: left;
  display: inline!important;
  padding-left: 10px;

}

.top-menu li a{
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #212121;
}

.top-menu .safe{
  background-color: #ff6f61!important;
  color: #fff!important;
  padding: 5px;
  font-size: 12px;
}

.top-menu li:hover a{
  color: #ff6f61;
}
.bg-red{
  background-color: #ff6f61!important;
}


.bg-white{
  background-color: #fff!important;

}

.bg-lwhite{
  background-color: #f1f4f6!important;
}

.bw{
  border: 1px solid #fff;
}


.text-red{
  color: #000!important;
}

.text-red{
  color: #ff6f61!important;
}

.top-info-sec{
  background-color: #000;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid  #ff6f61;
}

.top-info-sec .cancel{
  margin-left: 60px;
  bottom: 0;
  margin-bottom: -10px; 
}

.hide{
display: none!important;
}

.top-menu-sec{
  margin-top: 10px;
}



/********footer   */

.footer{
  padding: 30px 20px;
  background-color: #fffcf8;
}

.footer h4{
  font-size: 18px;
}

.footer ul{
  padding-left: 0px;
  list-style-type: none;
}

.footer li{
  font-size: 14px;
}

.carousel-item img{
  width: 100%;
  height: 250px;
}

.main-banner{
  padding-top: 10px;
  padding-bottom: 30px;

}

.owl-one .owl-prev, .owl-one .owl-next{
  display: none!important;
}

.owl-two .owl-prev, .owl-two .owl-next{
  display: none!important;
}



.owl-one .item img{
  width: 100%!important;
}

.fw-400{
  font-weight: 400!important;
}

.fw-700{
  font-weight: 700!important;
}

.bg-light-red{
  background-color: #ff6f61!important;
  border: 1px solid #ff6f61!important;
}

.welcome{
  padding: 30px 10px;
}

.welcome h2{
  font-size: 1.5rem!important;
  color: #666;
  font-weight: 400!important;
}

.product1{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #77775561;
}

.product1 .card{
  border: 0px solid #fff!important;

}

.product1 .long-card{
    background: #fff;
    margin-top: 10px;
    padding-top: 20px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.45);
}


.product1 .owl-two .card-img-top {
  width: 120px!important;
  height: 115px!important;
  margin-left: auto;
  margin-right: auto;
}

.product1 .owl-four .card-img-top {
  width: 120px!important;
  height: 120px!important;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.product1 .owl-five .card-img-top {
  width: 140px!important;
  height: 170px!important;
  margin-left: auto;
  margin-right: auto;
}

.product2 .owl-six .card-img-top {
  width: 150px!important;
  height: 200px!important;
  margin-left: auto;
  margin-right: auto;
}

.bordertb{
  border-top: 1px solid #777;
  border-bottom:  1px solid #777;
}

.borderb{
  border-bottom:  1px solid #777;
}


.product2{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #77775561;
}

.product2 .card{
  border: 0px solid #fff!important;

}

.product2 .long-card{
    background: #fff;
    margin-top: 10px;
    padding-top: 20px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.45);
}

.product2 .long-card p{

    font-size: 12px;
    margin-bottom: 3px;
} 


/*.product2  .card-img-top {
  width: 120px!important;
  height: 115px!important;
  margin-left: auto;
  margin-right: auto;
}
*/
.line-through{
  text-decoration: line-through;
}

.text-green{
  color: #1aab2a;
}

.discount-div{
  color: #1aab2a;
  border: 1px dashed #1aab2a;
}

.safe-div{
  background-color: #ffe3c2;
  color: #000;
}

.safe-div img{
  width: 27px;
  height: 21px;
  margin-top: 2px;
  }



  .inline{
    display: inline!important;
  }


  .owl-three .owl-prev{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 



 .owl-three .owl-next{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 

.owl-nav .owl-three .disabled{
  display: none!important;
}

.very-small-img{
  margin-left: auto;
  margin-right: auto;
  width: 80px!important;
  height: 50px!important;
}


.owl-six .owl-prev{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 



 .owl-six .owl-next{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 

.owl-nav .disabled{
  display: none!important;
}


.owl-seven .owl-prev{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 



 .owl-seven .owl-next{
  color: red!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 



/*********************************    Doctor Section ********************************/

.doctor-top-sec .form-control{
  border-radius: 1px solid #fff!important;
}

.doctor-top-sec{
    background: url(../images/website/doctor/doctor_banner.svg) center no-repeat;
    min-height: 500px;
    background-attachment: fixed;
    /*background-position-y: 60px;*/
    margin-top: 25px;
    z-index: 9;
}

.doctor-top-sec h1{
          margin-top: 50px;
          padding-top: 50px;
          color: #ffff;
          padding-bottom: 30px;
  }


.doctor-top-sec h4{
          padding-top: 10px;
          color: #fff;
          text-align: center;
  }

  .doctor-grey{
    color: #8d93b3;
  }

  .doctor-menu li{
    padding-top: 10px;
  text-align: left;
  display: inline!important;
  padding-left: 10px;
  color: #8d93b3;

}

.doctor-menu li a{
      color: #8d93b3;
      text-decoration: none;
  }

 .doctor-top-sec .banner-bottom{
          margin-top: 140px;
          padding-top: 20px;
          width: 100%;
          background-color: #1d2869;
          color: #fff;
          padding-bottom: 20px;
 }


.doctor-security{
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #f0f0f5;
}

.security-img{
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}


.security-menu{
  padding-left: 0px;
  list-style-type: none;
}

.security-menu li{
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .security-menu li:before{
    content: '✓';
    padding-right: 10px;
    font-size: 22px;
    color: #14bef0;
    font-weight: bold;

}

.doctor-sec2{
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #fff;
}

.doctor-footer{
   margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #28328c;
  color: #fff;
}

.doctor-footer ul{
  list-style-type: none;
  padding-left: 25px;

}

.doctor-footer h1{
  padding-top: 20px;
  padding-bottom: 30px;
}

.doctor-footer h1:before{
    content: "\2022";
    font-size: 70px;
    padding-right: 10px;
    font-weight: bold;
    color: #2cb7df;
}

.doctor-footer h1:after{
    content: "\2022";
    font-size: 70px;
    padding-right: 10px;
    font-weight: bold;
    color: #2cb7df;
}

.artical-sec{
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #fff;
}

.artical-sec h1{
  padding-top: 20px;
  padding-bottom: 30px;
}

.artical-sec .owl-artical .card{
  width: 300px;
   margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  transition: transform .4s; /* Animation */
  overflow-x: hidden;
}

.artical-sec .owl-artical .card:hover {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}


.artical-sec .owl-artical .card-img-top{
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.owl-artical .owl-prev{
  color: #b4b4be!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: -25px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 



 .owl-artical .owl-next{
  color: #b4b4be!important;
  font-size: 60px!important;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: -25px;
  transform: translateY(-50%);
  display: block;
  border-radius: 50%;
} 


.owl-nav button:focus{
  outline: none !important;
}




/**************************************  Lab Test *****************************/


.lab-top-sec{
          margin-top: 20px;
          padding-top: 20px;          
          padding-bottom: 30px;
}

.br-light{
  border-right: 1px solid #d8d8d8;
}

.bb-light{
  border-bottom: 1px solid #d8d8d8;
}

.lab-textdiv img{
  width: 35px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.owl-lab .owl-prev, .owl-lab .owl-next{
  display: none!important;
}

.lab-test-pack {
          margin-top: 20px;
          padding-top: 20px;          
          padding-bottom: 30px;
}

.lab-menu{
      list-style-type: none;
      padding-left: 10px;
}

.lab-menu .li:before{
    content: '✓';
    padding-right: 10px;
    font-size: 22px;
    color: #14bef0;
    font-weight: bold;
}



.lab-sec2{
          margin-top: 20px;
          padding-top: 20px;          
          padding-bottom: 30px;
}


@media screen and (max-width: 418px) {


}
